:root {
  --main-font-family: 'Roboto', sans-serif;
  --main-font-weight: 400;
  --main-bold-font-weight: 500;
  --main-font-size: 21px;
}
div#disqus_thread {
  margin-top: 100px;
}
/* font stuff */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--main-bold-font-weight);
  padding-top: 30px;
  padding-bottom: 10px;
}
strong { font-weight: var(--main-bold-font-weight); }
body {
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
}
/* For compatible mathjax fontsizes. */
.mjx-chtml {
  font-size: 100% !important;
}
footer {
  font-size: calc(var(--main-font-size) * 0.7);
}
